.expense-list-section {
    max-width: 1100px;
    margin: 30px auto;
    padding: 0 20px;
}

.expense-list-section h2 {
    margin-bottom: 12px;
}

.expense-list {
    list-style: none;
    padding: 0;
}

.no-expenses {
    margin-left: 45%;
    padding: 0 20px;
    text-align: center;
    color: grey;
    margin-top: 30px;
}