.app-header{
    width: 100%;
    background-color: #8F87F1;
    padding: 15px 0;
}
.header-container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}
.app-title{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 2px;
}
.app-subtitle{
    color: rgb(62, 60, 60);
    font-size: 15px;
    font-weight: 400;
}